/* ==========================================================================
   # HEADINGS / ELEMENTS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

h1,
h2,
h3,
h4,
h5,
h6,
.heading-family {
  font-family: $heading-family;
  line-height: 1.2;
  color: $text-black;
}

.main-heading {
  /*  64px ~ 48px */
  font-size: 3rem;
  line-height: 1.16;

  @include bp(medium) {
    font-size: 4rem;
    line-height: 1.12;
  }
}

.card-heading {
  /*  40px  */
  font-size: 2.5rem;
  line-height: 1;
}

.card-footer {
  /*  24px  */
  font-size: 1.5rem;
  line-height: 1;
}

.descriptive-title {
  /*  18px */
  font-size: 1.125rem;
  line-height: 1.22;
  letter-spacing: 6px;
}

.text-small {
  /*  14px */
  font-size: 0.875rem;
  line-height: 2.28;
}
