/* ==========================================================================
   #TYPOGRAPHY & COLORS & FONT WEIGHTS & LINE HEIGHTS
   ========================================================================== */

/**
 * Font Colors
 */

.color-black {
  color: $color-black;
}

.color-white {
  color: $color-white;
}

/**
 * Font Weights Title
 */

.font-regular {
  font-family: $proxima-nova-regular;
}

.font-semi {
  font-family: $proxima-nova-semi;
}

.font-xbold {
  font-family: $proxima-nova-extra;
}

/**
 * Font Weights Text
 */
.fw-7 {
  font-weight: $fw-7;
}

/**
 * Line Heights
 */
.line-reset {
  line-height: 1;
}

.line-large {
  line-height: 2;
}
