


<div class="heavy-content">
    <div class="wrapper-main">
        <section class="heavy-content__inner d-flex d-flex-wrap">

            <!-- Finding The Right Fit -->
            <div class="right-fit__content">
                <div class="right-fit__copy">
                    <h1 class="right-fit__subtitle descriptive-title font-semi">FINDING THE RIGHT FIT</h1>
                    <h2 class="right-fit__title main-heading">Marrying technical skills with cultural compatibility</h2>
                    <p class="right-fit__text line-large">Our French-Indian team in Bangalore <span class="fw-7">ensures the right chemistry exists between your new hire and your business.</span> Because every organisation has its own unique culture, we make sure your new offshore team is 100% aligned, on board, and instilled with your company DNA.</p>
                </div>
            </div>


            <!-- Swiper -->
            <div class="card-carousel">
                <div class="card-carousel__navigation">
                    <div class="card-carousel__width">
                        <div class="card-carousel__shadow">
                            <div class="card-carousel__container swiper-container">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">
                                        <div class="card-carousel__slide d-flex d-flex-center">
                                            <h3 class="card-carousel__heading u-text-center card-heading">It’s a Match!</h3>
                                            <div class="card-carousel__svg">
                                                <svg class="icon icon-face-1" role="presentation"><use href="/assets/images/icons.svg#face-1" xlink:href="/assets/images/icons.svg#face-1"></use></svg>
                                                <div class="card-carousel__svg--title">Your<br/>company</div>
                                            </div>
                                            <ul class="card-carousel__ul ul--reset u-text-center text-small">
                                                <li class="card-carousel__li">Builds web apps using C# / .NET Core 2.0</li>
                                                <li class="card-carousel__li">Extensive knowledge of building Web APIs</li>
                                                <li class="card-carousel__li">Experienced working with SQL Server</li>
                                                <li class="card-carousel__li">Highly knowledgeable of Agile methodology</li>
                                                <li class="card-carousel__li">Excellent communication skills</li>
                                                <li class="card-carousel__li">Strong work ethic</li>
                                                <li class="card-carousel__li">Karoke connoisseur</li>
                                            </ul>
                                            <div class="d-flex d-flex-center">
                                                <p class="font-xbold card-footer">COMPATIBILITY</p>
                                                <div class="card-carousel__circle d-flex d-flex-center">
                                                    <p class="color-white font-xbold card-footer"><span class="info__number__count" data-target="100">0</span><span>%</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="card-carousel__slide d-flex d-flex-center">
                                            <h3 class="card-carousel__heading u-text-center card-heading">It’s a Match!</h3>
                                            <div class="card-carousel__svg">
                                                <svg class="icon icon-face-1" role="presentation"><use href="/assets/images/icons.svg#face-1" xlink:href="/assets/images/icons.svg#face-1"></use></svg>
                                                <div class="card-carousel__svg--title">Your<br/>company</div>
                                            </div>
                                            <ul class="card-carousel__ul ul--reset u-text-center text-small">
                                                <li class="card-carousel__li">Builds web apps using C# / .NET Core 2.0</li>
                                                <li class="card-carousel__li">Extensive knowledge of building Web APIs</li>
                                                <li class="card-carousel__li">Experienced working with SQL Server</li>
                                                <li class="card-carousel__li">Highly knowledgeable of Agile methodology</li>
                                                <li class="card-carousel__li">Excellent communication skills</li>
                                                <li class="card-carousel__li">Strong work ethic</li>
                                                <li class="card-carousel__li">Karoke connoisseur</li>
                                            </ul>
                                            <div class="d-flex d-flex-center">
                                                <p class="font-xbold card-footer">COMPATIBILITY</p>
                                                <div class="card-carousel__circle d-flex d-flex-center">
                                                    <p class="color-white font-xbold card-footer"><span class="info__number__count" data-target="100">0</span><span>%</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-carousel swiper-slide">
                                        <div class="card-carousel__slide d-flex d-flex-center">
                                            <h3 class="card-carousel__heading u-text-center card-heading">It’s a Match!</h3>
                                            <div class="card-carousel__svg">
                                                <svg class="icon icon-face-1" role="presentation"><use href="/assets/images/icons.svg#face-1" xlink:href="/assets/images/icons.svg#face-1"></use></svg>
                                                <div class="card-carousel__svg--title">Your<br/>company</div>
                                            </div>
                                            <ul class="card-carousel__ul ul--reset u-text-center text-small">
                                                <li class="card-carousel__li">Builds web apps using C# / .NET Core 2.0</li>
                                                <li class="card-carousel__li">Extensive knowledge of building Web APIs</li>
                                                <li class="card-carousel__li">Experienced working with SQL Server</li>
                                                <li class="card-carousel__li">Highly knowledgeable of Agile methodology</li>
                                                <li class="card-carousel__li">Excellent communication skills</li>
                                                <li class="card-carousel__li">Strong work ethic</li>
                                                <li class="card-carousel__li">Karoke connoisseur</li>
                                            </ul> 
                                            <div class="d-flex d-flex-center">
                                                <p class="font-xbold card-footer">COMPATIBILITY</p>
                                                <div class="card-carousel__circle d-flex d-flex-center">
                                                    <p class="color-white font-xbold card-footer"><span class="info__number__count" data-target="100">0</span><span>%</span></p>
                                                </div>
                                            </div>                           
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Add Pagination -->
                    <div class="card-carousel__pagination swiper-pagination d-flex d-flex-center"></div>
                    <!-- Add Pagination -->
                    <div class="card-carousel__next swiper-button-next"><svg class="icon icon-arrow-right" width="48" height="48" role="presentation"><use href="/assets/images/icons.svg#arrow-right" xlink:href="/assets/images/icons.svg#arrow-right"></use></svg></div>
                    <div class="card-carousel__prev swiper-button-prev"><svg class="icon icon-arrow-right" width="48" height="48" role="presentation"><use href="/assets/images/icons.svg#arrow-right" xlink:href="/assets/images/icons.svg#arrow-right"></use></svg></div>
                </div>
            </div>


        </section>
    </div>

    <div><svg class="icon icon-white-bg" role="presentation"><use href="/assets/images/icons.svg#white-bg" xlink:href="/assets/images/icons.svg#white-bg"></use></svg></div>
    
</div>

      