// ==========================================================================
// # HEAVY CONTENT / COMPONENTS
// ==========================================================================

.heavy-content {
  padding-top: 41px;
  margin-bottom: 220px;
  background-color: $bg-blue;

  @include bp(medium) {
    padding-top: 64px;
    margin-bottom: 400px;
  }

  @include bp(xlarge) {
    padding-top: 84px;
    margin-bottom: 100px;
  }

  .icon-white-bg {
    width: 100%;
    display: block;
  }
}

.heavy-content__inner {
  margin-bottom: -250px;

  @include bp(xlarge) {
    margin-bottom: -120px;
  }
}

// ==========================================================================
// # RIGHT FIT
// ==========================================================================

.right-fit__content {
  width: 100%;

  @include bp(xlarge) {
    width: 50%;
  }
}

.right-fit__copy {
  text-align: center;
  margin-bottom: 32px;

  @include bp(medium) {
    margin-bottom: 55px;
  }

  @include bp(xlarge) {
    text-align: left;
    margin-bottom: 0;
  }
}

.right-fit__subtitle {
  margin-bottom: 24px;
}

.right-fit__title {
  margin-bottom: 42px;
}

.right-fit__text {
  text-align: left;
  max-width: 504px;
  margin: auto;

  @include bp(xlarge) {
    max-width: unset;
  }
}

// ==========================================================================
// # CAROUSEL
// ==========================================================================

.card-carousel {
  width: 100%;
  display: flex;
  justify-content: center;

  @include bp(xlarge) {
    justify-content: flex-end;
    width: 50%;
  }
}

.card-carousel__navigation {
  position: relative;
  width: 100%;

  @include bp(xlarge) {
    width: unset;
  }
}

.card-carousel__width {
  width: 100%;
  margin: 0 auto;
  max-width: 504px;
  display: flex;
  justify-content: center;

  @include bp(xlarge) {
    width: calc($card-width + 10px);
  }
}

.card-carousel__shadow {
  width: 100%;
  max-width: 504px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  @include bp(xlarge) {
    width: $card-width;
  }
}

.card-carousel__container {
  .swiper-wrapper {
    display: flex;
  }

  .swiper-container {
    padding: 50px;
  }

  .swiper-slide {
    flex-shrink: 0;
  }

  .card-carousel__slide {
    width: 100%;
    max-width: 504px;
    background-color: $bg-white;
    padding: 18px 33px 29px;
    flex-direction: column;
    flex-shrink: 0;

    @include bp(xlarge) {
      width: $card-width;
    }
  }
}

/* Content ( Text, Titles, List )
   ========================================================================== */
.card-carousel__heading {
  margin-bottom: 13px;

  span {
    display: inline-block;
    opacity: 0;
    min-width: 10px;
    transition: $global-transition;
  }

  .card-carousel__heading--fade {
    opacity: 1;
  }
}

.card-carousel__svg {
  margin-bottom: 30px;
  width: 258px;
  height: 140px;
  position: relative;

  svg {
    width: 258px;
    height: 140px;
  }
}

.card-carousel__svg--title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-family: $heading-family;
  font-size: 20px;
}

.card-carousel__ul {
  width: 100%;
  margin-bottom: 19px;
}

.card-carousel__li {
  border-bottom: 1px solid $border-gray;
  margin-bottom: 2px;

  &:last-of-type {
    border-bottom: 0;
  }
}

.card-carousel__footer {
  margin-right: 8px;
}

.card-carousel__circle {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: $bg-black;
  margin-left: 10px;
}

/* Navigation
   ========================================================================== */
.card-carousel__next,
.card-carousel__prev {
  display: none;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: 0;
  transition: $global-transition;
  cursor: pointer;

  @include bp(medium) {
    display: block;
  }

  &.swiper-button-disabled {
    opacity: 0.5;
  }

  svg {
    transition: $global-transition;
  }
}

.card-carousel__next {
  right: -10px;

  @include bp(large) {
    right: 40px;
  }

  @include bp(xlarge) {
    right: -80px;
  }

  svg {
    @include bp(xlarge) {
      &:hover {
        transform: translateX(6px);
      }
    }
  }

  &.swiper-button-disabled {
    svg {
      &:hover {
        transform: translateX(0);
      }
    }
  }
}

.card-carousel__prev {
  left: -10px;

  @include bp(large) {
    left: 40px;
  }

  @include bp(xlarge) {
    left: -80px;
  }

  svg {
    transform: rotate(180deg);

    @include bp(xlarge) {
      &:hover {
        transform: rotate(180deg) translateX(6px);
      }
    }
  }

  &.swiper-button-disabled {
    svg {
      &:hover {
        transform: rotate(180deg) translateX(0);
      }
    }
  }
}

/* Pagination
   ========================================================================== */
.card-carousel__pagination {
  height: 12px;
  position: absolute;
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%);

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 6px;
    border-radius: 50%;
    background-color: $bg-gray2;
    transition: $global-transition;
    outline: 0;
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    width: 36px;
    border-radius: 10px;
    background-color: $bg-blue2;
  }
}
