// ==========================================================================
// #GLOBAL
// ==========================================================================
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-transition: all 200ms linear !default;
$card-width: 384px;

/* Fonts
   ========================================================================== */

$open-sans: "Open Sans", sans-serif !default;
$proxima-nova-extra: "Proxima Nova Extrabold", Arial, sans-serif;
$proxima-nova-semi: "Proxima Nova Semibold", Arial, sans-serif;
$proxima-nova-regular: "Proxima Nova Regular", Arial, sans-serif;

/* Breakpoints
   ========================================================================== */

$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
  full: 1600px,
  retina: 2500px
);

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$blue: #dcf0f4;
$blue2: #27bbd4;
$color-white: #fff;
$color-black: #000;
$gray: #c5d2d7;
$gray2: #d8e1e5;

// Text
$text-black: $color-black;

// Background
$bg-blue: $blue;
$bg-blue2: $blue2;
$bg-gray2: $gray2;
$bg-white: $color-white;
$bg-black: $color-black;

// Borders
$border-gray: $gray;

// Z-Index
$z-lvl-1: 100;
$z-lvl-2: 200;
$z-lvl-3: 300;
$z-lvl-4: 400;

// Font Family
$text-family: $open-sans;
$heading-family: $proxima-nova-extra;

// Font Weight
$fw-4: 400;
$fw-7: 700;
