/* ==========================================================================
   #DISPLAY
   ========================================================================== */


/* Hide / show
   ========================================================================== */

.d-mobile {
    display: block;

    @include bp (large) {
        display: none;
    }
}

.d-medium {
    display: none;

    @include bp (medium) {
        display: block;
    }
}

.d-desktop {
    display: none;

    @include bp (large) {
        display: block;
    }
}


/* How to display elements
   ========================================================================== */
.d-block {
    display: block;
}