@font-face {
  font-family: "Proxima Nova Regular";
  src: url("/assets/fonts/ProximaNova-Regular.woff") format("woff"), url("/assets/fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("/assets/fonts/ProximaNova-Semibold.woff") format("woff"), url("/assets/fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: "600";
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Extrabold";
  src: url("/assets/fonts/ProximaNova-Extrabld.woff") format("woff"), url("/assets/fonts/ProximaNova-Extrabld.woff2") format("woff2");
  font-weight: "900";
  font-style: normal;
}
