/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/* Simple flexbox layout system */

.d-flex {
  display: flex;
}

.d-flex-wrap {
  flex-wrap: wrap;
}

.d-flex-center {
  align-items: center;
  justify-content: center;
}

.d-align-center {
  align-items: center;
}
