/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

body:not(.has-scrollbar) {
  .wrapper-stretched {
    width: 100vw !important;
    margin-left: calc(-50vw + 50%) !important;
    margin-right: calc(-50vw + 50%) !important;
    left: 0 !important;
  }
}

body.has-scrollbar {
  .wrapper-stretched {
    width: calc(100vw - var(--scroll-bar)) !important;
    margin-left: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
    margin-right: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
  }
}

.wrapper-basic {
  margin-left: auto;
  margin-right: auto;
  padding-left: 23px;
  padding-right: 23px;
  width: 100%;

  @include bp(medium) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.wrapper-main {
  @extend .wrapper-basic;

  @include bp(medium) {
    max-width: 800px;
  }

  @include bp(large) {
    max-width: 960px;
  }

  @include bp(xlarge) {
    max-width: 1152px;
  }
}
